body{
    background-color: black;
    color: white;
    font-family: Courier, sans-serif;
}

.title{
    text-align: center;
    font-size: 100%;
}

.pool{
    width: 490px;
    height: 490px;
    margin: calc(20vh) auto auto auto;
    background-color: #71B09F;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;

}

.row{
    display: flex;
    justify-content: space-around;
}

.box{
    color: white;
    width: 150px;
    height: 150px;
    background-color: #DC0073;
}
